/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


//Some very basic styles for the block
.dmg-read-more{
	a {
		display: block;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}

		&.is-style-card{
			display: block;
			padding: 3rem 1.5rem;
			border-radius: 2rem;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
			transition: background-color 0.3s ease, box-shadow 0.3s ease;
			position: relative;
			margin: 1.5rem auto;
		}

		&.has-background{
			padding: 1.5rem;
		}
	}

}


